:root {
    --cor1: #F5EEDC;
    --cor2: #27548A;
    --cor3: #183B4E;
    --cor4: #DDA853;
    --corBranca: #FFFFFF;
    --corPreta: #080a13;
    --corCinza: #808080;
}

body {
    background: var(--corBranca);
    background: linear-gradient(182deg, rgba(255, 255, 255, 1) 0%, rgba(245, 238, 220, 1) 85%, rgba(221, 168, 83, 1) 100%);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: var(--corPreta);
}

img.foto {
    width: 21.8em;
    opacity: 80%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--cor3);
}

dd {
    margin-left: 1.5em;
}

.texto-justificado {
    text-align: justify;
}

.topBcgSobre {
    background-color: var(--cor2);
    width: 5.3em;
}

.topBcgFormacao {
    background-color: var(--cor2);
    width: 9em;
}

.topBcgExperiencia{
    background-color: var(--cor2);
    width: 22em;
}

.topBcgHabilidades{
    background-color: var(--cor2);
    width: 11em;
}

.topBcgContato{
    background-color: var(--cor2);
    width: 7.5em;
}

.topBcgEndereco{
    background-color: var(--cor2);
    width: 9em;
}

.hrCurriculo {
    background-color: var(--cor3);
}

footer {
    color: var(--cor3);
    padding: 1em;
    text-align: center;
}

a.menuDanilo {
    color: var(--cor1);
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2em;
    padding: 0.5em;
    border-radius: 0.5em;
    transition: background-color 0.3s, color 0.3s;
    background-color: var(--cor3);
}

a.menuDanilo:hover {
    background-color: var(--cor4);
    color: var(--corBranca);
}

th.curriculo {
    background-color: var(--cor2);
    color: var(--corBranca);
    padding: 0.5em;
    text-align: center;
}

th.largo20{
    width: 20%;
}

th.largo10{
    width: 10%;
}

button.botao {
    color: var(--cor1);
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2em;
    padding: 0.5em;
    border-radius: 2em;
    transition: background-color 0.3s, color 0.3s;
    background-color: var(--cor4);
}

button.botao:hover {
    background-color: var(--cor3);
    color: var(--corBranca);
}

#menuDanilo {
    background-color: var(--cor3);
    padding: 1em;
    text-align: center;
}

#sobre{
    scroll-margin-top: 80px;
}

#formacao{
    scroll-margin-top: 80px;
}

#experiencia{
    scroll-margin-top: 80px;
}

#habilidades{
    scroll-margin-top: 80px;
}

#contato{
    scroll-margin-top: 80px;
}

#endereco{
    scroll-margin-top: 80px;
}